<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title <%= newsId %></title>
</head>
<body>
<%- include('blocks/header'); %>
<b>Title <%= obj.title %></b>
<b>ID <%= obj.id %></b>
<ul>
    <% obj.paragraphs.forEach(item=>{%>
        <li><%= item%></li>
    <%});%>
</ul>

</body>
</html>